$primary-color: #ECB706;
$secondary-color: #EA9D71;


.row {
    margin-bottom: 0
}

nav {
    ul {
        a {
            &:hover {
                color: rgba(0, 0, 0, 0.8);
                border-bottom: 1px solid $primary-color;
                background-color: transparent;
            }
        }
    }
}


.tabs.tabs-transparent .tab a{
    color: $secondary-color
}

.tabs.tabs-transparent .tab a:hover {
    color: $secondary-color;
    border: none
}